<div id="modal-course">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true" ng-click="close()">&times;</span><span class="sr-only">Close</span></button>
        <img ng-src="/assets/images/{{image}}" title="{{title}}">
        <div class="text">
            <h3 class="modal-title">{{course.name}}</h3>
            <h4>por: {{course.business.name}} <span ng-class="{new: course.status == 'nuevo', initiated: course.status == 'iniciado', closed: course.status == 'terminado'}">{{course.status}}</span></h4>
        </div>
    </div>
    <div class="modal-body">
        <p>{{course.description}}</p>
        <div class="row col-md-12">
            <ul class="col-md-6">
                <li>{{course._id}}<strong>IDENTIFICADOR</strong></li>
                <li>{{course.folio}}<strong>FOLIO</strong></li>
                <li>{{course.category}}<strong>CATEGORÍA</strong></li>
            </ul>
            <ul class="col-md-6">
                <li>{{course.hours}} horas<strong>DURACIÓN</strong></li>
                <li>{{course.attendes.length}}<strong>ASISTENTES</strong></li>
                <li>{{course.format}}<strong>FORMATO</strong></li>
            </ul>
        </div>
    </div>
    <div class="modal-footer" ng-if="course.status == 'nuevo'">
        <button class="btn btn-primary" ng-click="ok()">Tomar el curso</button>
        <!--
        <button class="btn btn-default">Mostrar discusión (10)</button>
        -->
    </div>
</div>
