<section id="adm-courses">
	<h1>Cursos</h1>
	<div class="panel panel-default">
  		<div class="panel-body">
  			<input type="text" class="form-control" placeholder="Buscar curso..." ng-model="search">
  			<button class="btn btn-add" ng-click="addCourse()"><i class="fa fa-plus"></i> Agregar curso</button>
  		</div>
  	</div>
	<div class="panel panel-default">
  		<div class="panel-body">
  			<table class="table table-striped">
  				<thead>
  					<th>Opciones</th>
  					<th>Folio</th>
  					<th>Nombre</th>
            <th>Empresa</th>
  					<th>Categoría</th>
            <th>Formato</th>
  				</thead>
  				<tbody>
  					<tr ng-repeat="course in courses | filter:search | orderBy:'updated_at':true">
  						<td>
  							<button class="btn btn-view" ng-click="view(course._id)"><i class="fa fa-eye"></i></button>
  							<button class="btn btn-edit" ng-click="edit(course._id)"><i class="fa fa-pencil"></i></button>
  							<button class="btn btn-remove" ng-click="remove(course)"><i class="fa fa-trash"></i></button>
  						</td>
  						<td>{{course.folio}}</td>
  						<td>{{course.name}}</td>
  						<td>{{course.business.name}}</td>
              <td>{{course.category | capitalize}}</td>
              <td>{{course.format | capitalize}}</td>
  					</tr>
  				</tbody>
  			</table>
  		</div>
  	</div>
</section>
