<section id="profile-edit">
	<div class="general">
  		<div class="container">
  			<ul class="col-md-6">
  				<li><img ng-src="/assets/images/placeholder.png"></li>
  				<li>
  					<input type="text" value="{{user.firstname}}" placeholder="Nombre" ng-model="user.firstname">
  					<input type="text" value="{{user.lastname}}" placeholder="Apellido" ng-model="user.lastname">
  				</li>
  				<li>
  					<textarea placeholder="Extracto" ng-model="user.extract">{{user.extract}}</textarea>
  				</li>
  			</ul>
  			<ul class="col-md-6">
  				<li><a class="btn btn-save" ng-click="save()"><i class="fa fa-check-circle"></i> Guardar</a></li>
  				<li><a class="btn btn-cancel" ng-click="cancel()"><i class="fa fa-remove"></i> Cancelar</a></li>
  				<li class="interests">
  					<strong>Mis intereses:</strong>
  					<ul>
  						<li>
  							<img ng-class="{interest: interests[0].status}" ng-src="/assets/images/icon_development.png" title="Cursos de desarrollo" ng-click="selectImage(0)">
	  						<img ng-class="{interest: interests[1].status}" ng-src="/assets/images/icon_infrastructure.png" title="Cursos de infraestructura" ng-click="selectImage(1)">
	  						<img ng-class="{interest: interests[2].status}" ng-src="/assets/images/icon_telecomunication.png" title="Cursos de telecomunicaciones" ng-click="selectImage(2)">
	  						<img ng-class="{interest: interests[3].status}" ng-src="/assets/images/icon_support.png" title="Cursos de soporte" ng-click="selectImage(3)">
	  						<img ng-class="{interest: interests[4].status}" ng-src="/assets/images/icon_security.png" title="Cursos de seguridad" ng-click="selectImage(4)">
  						</li>
  					</ul>
  				</li>
  			</ul>
  		</div>
	</div>
	<div class="panel panel-default detail">
  		<div class="panel-body">
			<div class="col-md-6">
				<h3><i class="fa fa-user"></i> DATOS GENERALES</h3>
				<ul>
					<li>
						<strong>Nombre completo</strong>
						<span><input type="text" value="{{user.firstname}}" placeholder="Nombre" ng-model="user.firstname"> <input type="text" value="{{user.lastname}}" placeholder="Apellido" ng-model="user.lastname"></span>
					</li>
					<li>
						<strong>Dependencia de trabajo</strong>
						<span>{{user.dependency.name}}</span>
					</li>
					<li>
						<strong>Área de trabajo</strong>
						<span><input type="text" value="{{user.area}}" placeholder="Nombre de la área" ng-model="user.area"></span>
					</li>
					<li>
						<strong>Puesto de trabajo</strong>
						<span><input type="text" value="{{user.job}}" placeholder="Nombre del puesto" ng-model="user.job"></span>
					</li>
					<li>
						<strong>Tiempo en el puesto de trabajo (Meses)</strong>
						<span><input type="text" value="{{user.time_working}}" placeholder="Tiempo trabajando (Meses)" ng-model="user.time_working"></span>
					</li>
					<li>
						<strong>Red social profesional</strong>
						<span><input type="text" value="{{user.social_network}}" placeholder="Link (LinkedIn, GitHub)" ng-model="user.social_network"></span>
					</li>
				</ul>
			</div>
			<div class="col-md-6">
				<h3><i class="fa fa-graduation-cap"></i> FORMACIÓN</h3>
				<ul>
					<li>
						<strong>Educación profesional</strong>
						<span ng-repeat="studie in user.studies">
							<ul class="studies">
								<li>
									<div class="content">
										<span>{{studie.title}}</span>
										<strong>{{studie.description}}</strong>
									</div>
									<div class="options">
										<a class="btn btn-edit" ng-click="edit('studies', $index)"><i class="fa fa-pencil"></i> Editar</a>
										<a class="btn btn-trash" ng-click="remove('studies', $index)"><i class="fa fa-trash"></i> Eliminar</a>
									</div>
								</li>
							</ul>
						</span>
						<a class="btn btn-add" ng-click="add('studies')"><i class="fa fa-plus"></i> Agregar</a>
					</li>
					<li>
						<strong>Habilidades técnicas ({{user.skills.length}})</strong>
						<span ng-repeat="skill in user.skills">
							<ul class="skills">
								<li>
									<div class="content">
										<span>{{skill}}</span>
									</div>
									<div class="options">
										<a class="btn btn-edit" ng-click="edit('skills', $index)"><i class="fa fa-pencil"></i> Editar</a>
										<a class="btn btn-trash" ng-click="remove('skills', $index)"><i class="fa fa-trash"></i> Eliminar</a>
									</div>
								</li>
							</ul>
						</span>
						<a class="btn btn-add" ng-click="add('skills')"><i class="fa fa-plus"></i> Agregar</a>
					</li>
					<li>
						<strong>Cursos / Certificaciones ({{user.trainings.length}})</strong>
						<span ng-repeat="training in user.trainings">
							<ul class="trainings">
								<li>
									<div class="content">
										<span>{{training.title}}</span>
										<strong>{{training.description}}</strong>
									</div>
									<div class="options">
										<a class="btn btn-edit" ng-click="edit('trainings', $index)"><i class="fa fa-pencil"></i> Editar</a>
										<a class="btn btn-trash" ng-click="remove('trainings', $index)"><i class="fa fa-trash"></i> Eliminar</a>
									</div>
								</li>
							</ul>
						</span>
						<a class="btn btn-add" ng-click="add('trainings')"><i class="fa fa-plus"></i> Agregar</a>
					</li>
				</ul>
			</div>
			<div class="col-md-12">
				<h3><i class="fa fa-building"></i> EXPERIENCIA LABORAL</h3>
				<ul class="career row">
					<li ng-repeat="job in user.career" class="col-md-4">
						<div class="content">
							<strong>{{job.title}} - ({{job.time_working}} meses)</strong>
							<span>Sector {{job.sector}}</span>
							<p>{{job.description}}</p>
						</div>
						<div class="options">
							<a class="btn btn-edit" ng-click="edit('career', $index)"><i class="fa fa-pencil"></i> Editar</a>
							<a class="btn btn-trash" ng-click="remove('career', $index)"><i class="fa fa-trash"></i> Eliminar</a>
						</div>
					</li>
				</ul>
				<a class="btn btn-add" ng-click="add('career')" ng-if="user.career.length < 2"><i class="fa fa-plus"></i> Agregar</a>
			</div>
		</div>
	</div>
</section>
