<div class="toolbar">
	<ul class="nav navbar-nav navbar-left search" ng-if="isAuthenticated()">
		<input type="text" ng-model="dataSearch" placeholder="Buscar personas, cursos, empresas, etc." typeahead="data as data.name for data in search($viewValue)" typeahead-template-url="directives/toolbar/typeahead-item.html" typeahead-on-select="setSelected($item)" class="form-control">
		<input type="submit" class="btn btn-search" value="Buscar">
	</ul>
	<ul class="nav navbar-nav">
		<li class="loader" ng-if="hasPendingRequests()">
			<i class="fa fa-spinner fa-spin fa-2x"></i>
		</li>
	</ul>
	<ul class="nav navbar-nav navbar-right">
		<li class="dropdown" ng-if="isRoot()">
			<a ng-href="#" class="dropdown-toggle" data-toggle="dropdown">Administración <span class="caret"></span></a>
			<ul class="dropdown-menu" role="menu">
				<li><a ng-href="/admin/usuarios">Usuarios</a></li>
				<li class="divider"></li>
				<li><a ng-href="/admin/empresas">Empresas</a></li>
				<li class="divider"></li>
				<li><a ng-href="/admin/cursos">Cursos</a></li>
				<li class="divider"></li>
				<li><a ng-href="/admin/dependencias">Dependencias</a></li>
			</ul>
		</li>
		<!--
		<li class="dropdown" ng-if="isAdmin()">
			<a ng-href="#" class="dropdown-toggle" data-toggle="dropdown">Dependencia <span class="caret"></span></a>
			<ul class="dropdown-menu" role="menu">
				<li><a ng-href="#">Usuarios</a></li>
				<li class="divider"></li>
				<li><a ng-href="#">Cursos</a></li>
			</ul>
		</li>
		-->
		<li class="notifications" ng-class="{unread: true}" ng-if="isAuthenticated()">
			<a ng-click="showNotifications()">
				<label>{{notifications}}</label><i class="fa fa-bell"></i>
			</a>
		</li>
		<li class="dropdown" ng-if="isAuthenticated()">
			<a ng-href="#" class="dropdown-toggle" data-toggle="dropdown">{{email}} <span class="caret"></span></a>
			<ul class="dropdown-menu" role="menu">
				<li><a ng-href="/perfil">Perfil</a></li>
				<li class="divider"></li>
				<li><a ng-href="#" ng-click="logout()">Cerrar sesión</a></li>
			</ul>
		</li>
	</ul>
</div>
