<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8">
    <title><%= grunt.config.get('pkg.title') %></title>
    <meta description="<%= grunt.config.get('pkg.title') %> - <%= grunt.config.get('pkg.description') %>">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="/vendor/styles.css"/>
    <link rel="stylesheet" type="text/css" href="/<%= grunt.config.get('pkg.name') %>.css"/>
    <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Lato:300,400,700'>
</head>
<body ng-controller="AppCtrl">
    <div class="wrapper">
        <header ng-include="'header.html'"></header>
        <toast></toast>
        <div class="container" ng-view></div>
    </div>
    <footer ng-include="'footer.html'"></footer>
    <script type="text/javascript" src="/vendor/angular.js"></script>
    <script type="text/javascript" src="/vendor/scripts.js"></script>
    <script type="text/javascript" src="/<%= grunt.config.get('pkg.name') %>.js"></script>
</body>
</html>
